# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore large model and whisper source
/server/models/ggml-base.bin
/server/app/ffmpeg.exe
/server/app/sqlite3.exe
/server/app/yt-dlp.exe
**/whisper.cpp